@import 'reset';

body, html{
  background:rgb(110, 127, 175);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container{
  max-width: 1280px;
  margin:0 auto;
  padding:0 10px;
}
a {
  color: #00B7FF;
}
address span{
  display: block;
}
.card{ 
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0,0,0,.25);
  position: relative;
  &.editing{
    box-shadow: 0 0 4px rgba(0,0,0,.8);
  }
  .info{
    display: flex;
    .photo{
      flex:1;
      margin-right: 2%;
      .photoholder{
        padding:4px;
        border:1px solid #ccc;
      }
      img{
        display: block;
      }
    }
    .photo.nophoto{
      background:#ccc;
    }
    .address{
      flex:2
    }
  }
  h3{text-transform: uppercase;}
}
main{
  background: #edf4f7;
  border-bottom: 1px solid;
}
.home{
  .banner{
    background:url(/images/sunset.jpg) no-repeat center center / cover;
    padding: 10vh 0;
    h1{
      font-family: 'Poppins', sans-serif;
      font-size: 16vw;
      line-height: 74%;
      letter-spacing: -1vw;
      font-weight: 900;
      color:rgba(#00B7FF, .9);
      text-shadow: 0 0 5px rgba(0,0,0,.9);
    }
    h2{
      font-family: 'Poppins', sans-serif;
      font-size: 6vw;
      line-height: 74%;
      color:#fff;
      font-weight: 500;
      text-shadow: 0 0 5px rgba(0,0,0,.9);
      text-transform: uppercase;
    }
  }
}
header{ 
  background: #11ebcb;
  position: relative;
  .container{
    display: flex;
    padding-top: 40px;
  }
  nav{
    flex:1;
    display: flex;
    ul{
      display: flex;
      li{
        position: relative;
        a{
          display: block;
          white-space: nowrap;
          padding:4px 10px;
          font-size: 14px;
          font-weight: 900;
          color:rgb(19, 22, 207);
        }
        a.active{
          background:#edf4f7
        }
        ul{
          background: #11ebcb;
          position:absolute;
          z-index: 100;
          display: none;
        }
        &:hover > ul{ display: block;}
      }
      ul ul{
        left:100%;top:0;
      }
    }
  }

}
.overlay{
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  top:100%;
  z-index: 1000;
  transition: .5s all;
  background:rgba(0,0,0,.25);
  &.active{
    top:0;
  }
}
footer{
  padding:2.5% 0;
  

}
label{
  display: block;
  margin:0 0 10px;
  span{
    display: block;
  }
}