@import 'reset';

body, html{
  background:rgb(110, 127, 175);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container{
  max-width: 1280px;
  margin:0 auto;
}
a {
  color: #00B7FF;
}
address span{
  display: block;
}
.card h3{text-transform: uppercase;}
main{
  background: #edf4f7;
  border-bottom: 1px solid;
}
header{ 
  background: #11ebcb;
  .container{display: flex;}
  nav{
    flex:1;
    display: flex;
    ul{
      display: flex;
      li{
        position: relative;
        a{
          display: block;
          white-space: nowrap;
          padding:4px 10px;
          font-size: 14px;
          font-weight: 900;
          color:rgb(19, 22, 207);
        }
        a.active{
          background:#edf4f7
        }
        ul{
          background: #11ebcb;
          position:absolute;
          z-index: 100;
          display: none;
        }
        &:hover > ul{ display: block;}
      }
      ul ul{
        left:100%;top:0;
      }
    }
  }

}

footer{
  padding:2.5% 0;
  

}
label{
  display: block;
  margin:0 0 10px;
  span{
    display: block;
  }
}