.datagridholder{
    display: flex;
}
.datagrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #ccc;
    width:72%;
    padding:1%;
}
.filter{
    width: 24%;
}
.card{
    width: 29%;
    display: inline-block;
    background: #fff;
    padding:1%;
    margin:0 0 3%;
}