.datagridholder{
    display: flex;
}
.datagrid{
    width:72%;
}
.datagrid .cardholder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #ccc;
    width:100%;
    padding:1%;
}
.filter{
    width: 24%;
}
.card{
    width: 30%;
    display: inline-block;
    background: #fff;
    padding:1%;
    margin:0 0 1.75%;
}
.datagridholder.loading{
    min-height: 90vh;
}